

header{
    background-color: rgb(35, 69, 89);
}

.credit{
    min-height: 50px;
    background-color:  rgb(35, 69, 89);
}

.web i{
    border: 1px solid white;
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
  }

  .navbar-light .navbar-brand{
    color: white;
  }

  .navbar-light .navbar-nav .nav-link{
    color: white;
    font-size: 12px;
  }

  .navbar-light .navbar-toggler{
    color: white;
  }

  .navbar-toggler{
    filter: invert(1);
  }

  .icon_social i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }


.card_img{
    width: 100%;
}

.title_jumbo{
    width: 100%;
}

h1{
    color: white;
    text-align: center;
}

.nav-link{
    color: white;
}

.jumbo{
    background-color: #4db68a;
}

.about{
    background-color: #4db68a;;
}

.info{
    background-color: rgb(60, 95, 115);
    color: white;
}

.jumbo_intro img{
    width: 100%;
}

address,.web{
    text-align: center;
}

.col-2 .hamb{
    color: gray;
    border: 1px solid grey;
    padding: 3px;
}


.free_lancer a {
    color: #4db68a;
    text-decoration: none;
}

.jumbo span{
    font-size: 14px;
}

/* line + star */

.star{
    display: flex;
    align-items: center;
    color: white;
    justify-content: center;
}

.line{
    background-color: white;
    margin: 5px;
    padding: 1px;
    width: 90px;
}

.black{
    color: black;
    background-color: black;
}

/* DEBUG RULES */

.contact_me{
    height: 300px;
    background-color: rgb(153, 222, 190);
}


